@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h3 class="text-center">Discussions in @ViewBag.Category.CategoryName</h3>

<div class="container">
    <h6 class="mb-3">@ViewBag.No_Discussions result(s) in @ViewBag.Category.CategoryName</h6>

    @if (ViewBag.Message != null)
    {
        <div class="alert alert-dark" role="alert">
            @ViewBag.Message
        </div>
    }
    @{
        var categ = ViewBag.Category.CategoryId;
        var criteria = ViewBag.Criteria;
    }

    <div class="container">
        <div class="d-flex">
            <a href="/Discussion/New" class="metallic-button">Start Discussion</a>
            <a href="/Category/Index" class="metallic-button mx-2">View Categories</a>
            <a href="/Category/View/@categ?page=1&criteria=1" class="metallic-button">Sort by Desceding Date (Default)</a>
            <a href="/Category/View/@categ?page=1&criteria=2" class="metallic-button mx-2">Sort by Interaction</a>
        </div>

        @foreach (OpenDiscussionv1.Models.Discussion discussion in ViewBag.Discussions)
        {
                <div class="border my-1 p-2">
                @Html.Partial("Discussion", discussion)
                    <div class="card-body">
                    <a href="/Discussion/View/@discussion.DiscussionId" class="metallic-button">View discussion</a>
                    </div>
                </div>
        }

        <div>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link metallic-button mx-1" href="/Category/View/@categ?page=1&criteria=@criteria" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                            @for (int i = 1; i <= ViewBag.lastPage; i++)
                            {
                        <li class="page-item"> <a class="page-link metallic-button mx-1" href="/Category/View/@categ?page=@i&criteria=@criteria">@(i)</a> </li>
                            }
                    <li class="page-item">
                        <a class="page-link metallic-button mx-1" href="/Category/View/@categ?page=@(ViewBag.lastPage)&criteria=@criteria" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                </ul>
            </nav>
        </div>
    </div>
</div>