@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Discussion

<h3 class="text-center">Start a new discussion</h3>

<div class="container">
    @using (Html.BeginForm(actionName: "New", controllerName: "Discussion", method: FormMethod.Post))
    {
        @Html.Label("Title", "Titlu Articol")
        <br />
        @Html.TextBox("Title", null, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Title, null, new { @class = "text-danger" })
        <br />

        @Html.Label("Content", "Continut Articol")
        <br />
        @Html.TextArea("Content", null, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Content, null, new { @class = "text-danger" })
        <br />

        <select class="form-select mb-1" name="CategoryId">
            @foreach (var categ in ViewBag.Categories)
            {
                <option value="@categ.CategoryId">@categ.CategoryName</option>
            }
        </select>
        <br />

        <button class="metallic-button" type="submit">Start Discussion</button>
    }
</div>
