
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="card border-0">
    <div class="card-body">
        @{
            string str = @Model.User.Id + ".jpeg";
        }

        <h6 class="card-subtitle mb-1 text-muted">Posted by <span>
            <img src="~/images/@str" onerror="this.onerror=null; this.src = '/images/fallback.jpg';" width="20" height="20">
        </span> @Model.User.UserName in @Model.Category.CategoryName</h6>        

        <h4 class="card-title">@Model.Title</h4>
        <p class="card-text">@Model.Content</p>
    </div>
</div>